/* src/components/FloatingWhatsAppIcon/FloatingWhatsAppIcon.css */
.floating-storage-icon {
  position: fixed; /* Membuat ikon mengambang */
  bottom: 35px; /* Jarak dari bawah halaman */
  right: 40px; /* Jarak dari kanan halaman */
  z-index: 1; /* Pastikan ikon selalu di atas elemen lain */
  background-color: #25d366; 
  border-color: none;/* Warna latar belakang ikon WhatsApp */
  border-radius: 50%; /* Membuat bentuk lingkaran */
  width: 50px; /* Ukuran ikon */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.floating-storage-icon:hover {
  transform:  translateY(-2px);
  background-color: #20ba59; 
  box-shadow: none;
  outline: none;
  border: none;
}

.floating-storage-icon img {
  width: 35px; 
  height: 35px;
}

@media (max-width: 768px) {
  .floating-storage-icon {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
  }
  .floating-storage-icon img {
    width: 30px;
    height: 30px;
  }
}